<div class="sharebox-float-right footer-logo">
    <a href="https://www.convergine.com/" target="_blank">
        <img src="{{ craft.app.assetManager.getPublishedUrl('@convergine/sharebox/assets/images/convergine.png', true) }}" alt="Convergine" title="Convergine" width="120">
    </a>
</div>
<div class="clear"></div>

